# See http://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
# Nodejs
node_modules

# npm
package-lock.json

# enviroment variables y control
.env
.vscode

# Archivos de comentarios
*.txt
