<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In incidunt cupiditate, tenetur harum a, necessitatibus ipsum deleniti quod repellendus nam doloribus, aspernatur excepturi esse dicta eos porro corrupti itaque possimus?</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg" role="button">FaztWeb</a>
</div>